body {
  margin: 8rem 0;
}
main {
  color: black;
}

.header {
  margin: auto;
  width: 100%;
  position: fixed;
  top: 0%;
}
.main-nav {
  background-color: #cc8a00;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  height: 2.5rem;
}

.main-nav__sociales {
  display: flex;
  align-items: center;
}

.main-nav__inicio-itm {
  display: flex;
}

.main-nav__sociales-itm {
  display: flex;
}

.main-nav__sociales-itm--fb {
  padding-right: 0.5rem;
}

.main-nav__sociales-itm--yt {
  padding-right: 1rem;
}

.sub-nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.sub-nav__itms {
  display: none;
}

.sub-nav__itm {
  list-style: none;
}

.sub-nav__itm-a {
  text-decoration: none;
  color: #ffffff;
}
.sub-nav__a {
  display: flex;
  align-items: center;
}

.sub-nav__a-logo {
  width: 60%;
  display: block;
  padding: 0.5rem 0 0.5rem 1rem;
  transition: transform 0.6s ease;
}

.sub-nav__btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: black;
}
.sub-nav__btn-img {
  padding-right: 1rem;
  height: 25px;
}
.mobile-nav {
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-right: 1.5rem;
  height: 15rem;
  display: none;
}
.mobile-nav__itms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
}
.mobile-nav__itm {
  list-style: none;
}
.mobile-nav__itm a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.mobile-nav.show {
  display: flex;
}

/* .main{

} */

.main__title {
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .sub-nav {
    display: flex;
    justify-content: flex-start;
  }
  .sub-nav__a-logo {
    width: 70%;
    transform: scale(1.1);
  }
  .sub-nav__btn {
    display: none;
  }
  .sub-nav__itms {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
}


/*areas vocacionales nav*/
.areas-vocacionales__titulo {
  text-align: center;    
}

.areas-vocacionales__menu {
  margin-top: 2%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
}

.menu__lista {
  display: flex;
  flex-wrap: wrap; 
  justify-content:space-around; 
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista__item {
  width: 20%;  
  padding: 5px; 
  text-align: left;
  display: flex; 
  flex-wrap: wrap;
}

.lista__link {
  width: 200px;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.lista__link:hover {
  background-color: blue;
  color: white; 
}

/* Media Queries  */
@media (max-width: 800px) {
  .lista__item {
    width: 100%;  
    margin-bottom: 2px;  
  }
}


